// drupal helper
@mixin visuallyHidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
  width: 1px;
  word-wrap: normal;
  color: transparent;
  background-color: transparent;
  font-size: 0.1px;
  margin: 0;
  padding: 0;
}
