<div class="pattern-lab-timing-group">
  {% for time in timing %}
    <div class="pattern-lab-timing-item">
      {% set style = '"transition-duration:' ~ time.timing  ~ ';"' %}
      <div class="pattern-lab-timing-item__indicator" style={{ style }}></div>
      <div class="pattern-lab-timing-item__label">
        <div class="pattern-lab-timing-item__name">{{ time.name }}</div>
        <div class="pattern-lab-timing-item__value">{{ time.timing }}</div>
      </div>
    </div>
  {% endfor %}
</div>
