// CSS styles and overrides for Pattern Lab only.
// This stylesheet is not loaded by the theme.

@import '_vendor-sass/**/*.scss';
@import '_patterns/00-global/**/*.scss';

// The container for the 'view all' screen, which contains the list of patterns.
// stylelint-disable-next-line selector-max-id
#sg-patterns {
  box-sizing: border-box !important;
  max-width: em($layout-max-width-page);
  padding: 0 ($layout-gutter-width / 2);
}

// hide headers for some Gesso folders
// stylelint-disable-next-line selector-max-id
#viewall-global-config,
#viewall-global-util,
#viewall-global-tools,
#viewall-base-fonts,
#viewall-base-normalize,
#viewall-base-extends,
#viewall-base-html-elements,
#viewall-layouts-constrain,
#viewall-components-cms-styles {
  /* stylelint-enable */
  display: none;
}

.sg-subtype {
  h2 {
    font-size: 24px;
    margin: 3em 0 0.25em;
    text-transform: capitalize;
  }
  a {
    color: #666;
    text-decoration: none;
    &:hover, &:focus {
      color: #333;
    }
  }
}

// Colors
.pattern-lab-color-group {
  color: #000;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  font-size: 14px;
  margin-bottom: 50px;

  @include breakpoint(700px) {
    @supports (display: grid) {
      display: grid;
      grid-template-columns: 150px 1fr;
      grid-template-rows: 150px 150px;
    }
  }
}

.pattern-lab-color-group__base {
  grid-column: 1;
  grid-row: 1/-1;
}

.pattern-lab-color-group__variant {
  @include breakpoint(700px) {
    @supports (display: grid) {
      display: grid;
      grid-template-columns: repeat(auto-fit, 125px);
    }
  }
}

.pattern-lab-color-group__variant--light {
  order: -1;
}

.pattern-lab-color-group__variant--dark {
  color: #fff;
}

.pattern-lab-color-swatch {
  color: inherit;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-end;
  padding: 20px;
}

.color-swatch__label--light {
  color: #fff;
}

//Radius
.pattern-lab-radius-item {
  color: #000;
  font-family: sans-serif;
  font-size: rem(14px);
  margin-bottom: $spacing-scale-level-6;
}

.pattern-lab-radius-item__block {
  align-items: center;
  background-color: #519cb0;
  display: flex;
  height: 50px;
  justify-content: center;
  margin-bottom: $spacing-scale-level-2;
  width: 50px;
}

.pattern-lab-radius-item__name {
  @include display-font-weight-bold;
}

.pattern-lab-radius-item__value {
  color: $white;
}

// Aniumation
.pattern-lab-timing-group {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.pattern-lab-timing-item {
  padding: $spacing-scale-level-3;

  &:hover {
    .pattern-lab-timing-item__indicator {
      transform: scale(1.5);
    }
  }
}

.pattern-lab-timing-item__indicator {
  background-color: #519cb0;
  border-radius: $border-radius-circle;
  height: 32px;
  margin: 0 auto $spacing-scale-level-3;
  transition: transform linear;
  width: 32px;
}

.pattern-lab-timing-item__label {
  color: #000;
  font-family: sans-serif;
  font-size: rem(14px);
  text-align: center;
}

.pattern-lab-timing-item__name {
  @include display-font-weight-bold;
}

// Spacing
.pattern-lab-spacing {
  align-items: center;
  display: flex;
  font-family: sans-serif;
  font-size: rem(14px);
  max-width: 600px;
  padding: 20px;
}

.pattern-lab-spacing__icon {
  align-items: center;
  background-color: #519cb0;
  display: flex;
  justify-content: center;
  min-height: 10px;
  min-width: 10px;
}

.pattern-lab-spacing__info {
  color: #fff;
}

// Typography
.pattern-lab-font {
  margin-bottom: 30px;
}

.pattern-lab-font__family {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 5px;
  text-align: center;
  @include breakpoint(800px) {
    text-align: left;
  }
}

.pattern-lab-font__item {
  display: flex;
  flex-direction: column;
  margin: 30px 0;
  @include breakpoint(800px) {
    flex-direction: row;
  }
}

.pattern-lab-font__preview {
  border-bottom: 2px solid #eee;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  padding: 20px 0 ;
  text-align: center;
  width: 100%;
  @include breakpoint(800px) {
    border-bottom: 0;
    border-right: 2px solid #eee;
    margin: 5px 30px 0 0;
    padding: 0 20px;
    text-align: left;
    width: 65%;
  }
}

.pattern-lab-font__preview-character {
  font-size: 90px;
  font-weight: 400;
  line-height: 1;
  text-align: center;
  width: 100%;
  @include breakpoint(800px) {
    text-align: left;
    width: 25%;
  }
}

.pattern-lab-font__preview-meta {
  text-align: center;
  width: 100%;
  @include breakpoint(800px) {
    text-align: left;
  }
}

.pattern-lab-font__label {
  color: #999;
}

.pattern-lab-font__name {
  color: #565454;
  font-size: .9rem;
  line-height: 1.5;
  margin: 5px 0;
}

.pattern-lab-font__weight {
  color: #000;
  font-size: 13px;
  margin-bottom: 5px;
}

.pattern-lab-font__style {
  color: #000;
  font-size: 13px;
  margin-bottom: 5px;
}
