
b,
strong {
  font-weight: 700;
}


em {
  font-style: oblique;
}


i {
  font-style: italic;
}


small {
  font-size: 0.8em;
}


big {
  font-size: 1.2em;
}


dl dt {
  font-weight: 700;
}


abbr {
  text-transform: uppercase;
}


pre,
code {
  font-family: $font-mono;
}
