// @file
// Table styles.

caption {
  @extend %body-font-small;
}

col {}

colgroup {}

table {
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: rem($spacing-scale-level-3);
  min-width: 100%;
}

tbody {}

td {
  background-color: $background-color-table-cell;
  border: 1px solid $border-color-ui;
  padding: rem($spacing-scale-level-3);
}


tfoot {
  td,
  th {
    background-color: $background-color-table-header;
  }
}

th {
  background-color: $background-color-table-header;
  border: 1px solid $border-color-ui;
  padding: rem($spacing-scale-level-3);
  text-align: left;
}

thead {
  @media print {
    & {
      display: table-header-group;
    }
  }

  td,
  th {
    background-color: $background-color-table-header;
  }
}

tr {
  @media print {
    & {
      page-break-inside: avoid;
    }
  }
}
