<div class="file">
  <img class="file__icon" alt="{{ file_mime }}" src="{{ file_icon }}">
  <a href="#" class="file__link">{{ file_name }}</a>
  <span class="file__size">({{ file_size }})</span>
</div>
