// @file
// Button styles

@mixin button() {
  background-color: $background-color-button-primary;
  border-color: $border-color-button-primary;
  border-radius: $border-radius-none;
  color: $color-text-button-primary;

  &:focus,
  &:hover {
    background-color: $background-color-button-primary-hover;
    color: $color-text-button-primary-hover;
    outline: 0;
  }

  &:active {
    background-color: $background-color-button-primary-active;
    color: $color-text-button-primary-active;
  }

  &[disabled] {
    background-color: $background-color-button-primary-disabled;
    color: $color-text-button-primary-disabled;
    cursor: not-allowed;
    pointer-events: none;
  }
}

@mixin button-secondary() {
  background-color: $background-color-button-secondary;
  border-color: $border-color-button-secondary;
  border-radius: $border-radius-none;
  color: $color-text-button-secondary;

  &:focus,
  &:hover {
    background-color: $background-color-button-secondary-hover;
    color: $color-text-button-secondary-hover;
    outline: 0;
  }

  &:active {
    background-color: $background-color-button-secondary-active;
    color: $color-text-button-secondary-active;
  }

  &[disabled] {
    background-color: $background-color-button-primary-disabled;
    color: $color-text-button-primary-disabled;
    cursor: not-allowed;
    pointer-events: none;
  }
}

@mixin button-tabs() {
  background-color: $background-color-tabs-primary;
  border-color: $border-color-tabs-primary;
  border-left-style: solid;
  border-left-width: 1px;
  border-radius: $border-radius-none;
  color: $color-text-tabs-primary;
  display: block;
  margin: 0;
  padding: rem($spacing-scale-level-2) rem($spacing-scale-level-4);
  text-decoration: none;

  &:active {
    background-color: $background-color-tabs-primary-active;
    color: $color-text-tabs-primary-active;
  }

  &:focus {
    background-color: $background-color-tabs-primary-focus;
  }

  &:hover,
  &:visited {
    background-color: $background-color-tabs-primary-focus;
    color: $color-text-tabs-primary-hover;
  }

  &.is-active {
    background-color: $background-color-tabs-primary-active;
    color: $color-text-tabs-primary-active;
    &:hover {
      color: $color-text-tabs-primary-active;
    }
  }
}
