// @file
// Styles for hero fullscreen using an inline image element.

.hero-fullscreen {
  color: #fff;
  padding: 0;
  position: relative;
  text-align: center;

  &.has-overlay {
    &::after {
      background: rgba(0, 0, 0, 0.5);
      bottom: 0;
      content: '';
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 1;
    }

    .hero-fullscreen__content {
      z-index: 2;
    }
  }
}

.hero-fullscreen__title {
  margin-bottom: 0.25em;
}

.hero-fullscreen__subtitle {}

.hero-fullscreen__media {
  display: block;
  line-height: 0;

  img, picture {
    width: 100%;
  }
}

.hero-fullscreen__content {
  background: rgba(0, 0, 0, 0.5);
  bottom: 5%;
  padding: 1em;
  position: absolute;
  right: 5%;
}
