<div class="file">
  <img class="file__icon" alt="{{ file.mime }}" src="{{ file.icon }}" width="17">
  <a href="#" class="file__link">{{ file.name }}</a>
  <span class="file__size">({{ file.size }})</span>
</div>
