@mixin flex-row() {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}


@mixin flex-column() {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}


@mixin flex-center() {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}


@mixin flex-grid($columns: 4, $gutter: $grid-gutter) {
  @include flex-row;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-left: -($grid-gutter/2);
  margin-right: -($grid-gutter/2);
  max-width: calc(100% + #{$grid-gutter});

  > * {
    width: (100% / $columns);
    padding: ($grid-gutter/2);
  }
}