// @file
// Styles for the Page.

.l-page {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-template-rows: auto auto auto;

  .l-header,
  .l-main {
    // uncomment if you have a fixed header
    // grid-row: 1/1;
    // grid-column: 1/1;
  }

  .l-main {
    min-width: 0;
  }
}
