###
### Pantheon site .gitignore section
###
### Items below the "cut" line are still ignored on
### the Pantheon site. Items above the "cut" line
### are ignored in the GitHub repository, but committed
### to the Pantheon repository.
###

css/*.css
css/sourcemaps/*.css.map
*.css.map
*.js.map
!css/vendor/normalize.css
node_modules/

# :::::::::::::::::::::: cut ::::::::::::::::::::::
.DS_Store
node_modules/
.sass_cache/
css/sourcemaps/*.css.map
*.css.map
*.js.map
!vendor/
!css/vendor/normalize.css
