// @file
// Styles for the Sidebar Layout.

$l-sidebar-aside: 300px;
$l-sidebar-gutter: 2rem;
$l-sidebar-main-max: 100%;

.l-sidebar {}

.l-sidebar__header {
  position: relative;
}

.l-sidebar__grid {
  @include breakpoint($bp-medium) {
    display: flex;
    flex-wrap: wrap;
  }
}

.l-sidebar__aside {

  @include breakpoint($bp-medium) {
    flex-basis: $l-sidebar-aside;
    flex-grow: 0;
    flex-shrink: 0;
    margin-right: $l-sidebar-gutter;
    max-width: $l-sidebar-aside;
    width: $l-sidebar-aside;

    .l-sidebar--right & {
      margin-left: $l-sidebar-gutter;
      margin-right: 0;
      order: 1;
    }
  }
}

.l-sidebar__main {
  max-width: 100%;
  position: relative;

  @include breakpoint($bp-medium) {
    flex-basis: calc(100% - #{$l-sidebar-aside} - #{$l-sidebar-gutter});
    flex-grow: 1;
    flex-shrink: 0;
    max-width: $l-sidebar-main-max;
    width: calc(100% - #{$l-sidebar-aside} - #{$l-sidebar-gutter});
  }
}

.l-sidebar__footer {}
