// @file
// Ordered list styles.

ol {
  @extend %body-font;
  margin: 0 0 rem($spacing-scale-level-3);
  padding: 0 0 0 rem($spacing-scale-level-4); // LTR

  @if $support-for-rtl {
    [dir='rtl'] & {
      padding: 0 rem($spacing-scale-level-4) 0 0;
    }
  }

  ol,
  ul {
    margin: rem($spacing-scale-level-3 / 2) 0 0;
  }
}
