<header class="l-header" role="banner">
  <div class="l-header__inner">
    <div class="l-constrain">
      <div class="l-header__content">
        {% block content %}
          {{ content }}
        {% endblock %}
      </div>
    </div>
  </div>
</header>