// @file
// Inline element styles.

a {
  @extend %link-base;
  @include link;
}

abbr {
  &[title] {
    border-bottom: 0;
    text-decoration: underline;
    text-decoration: underline dotted;
  }

  &:hover {
    cursor: help;
  }

  @media print {
    &[title]::after {
      content: ' (' attr(title) ')';
    }
  }
}

b {}

cite {}

code {}

del {}

dfn {
  font-style: italic;
}

em {}

i {}

ins {}

kbd {}

mark {
  background: #ff0;
  color: #000;
}

q {}

s {}

samp {}

small {
  @extend %body-font-small;
}

strong {}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

time {}

u {}

var {}
