// @file
// Styles for Tabs.

$tab-border-radius: rem(3px) !default;

.tabs {
  @include clearfix;
}

.tabs__items {
  @include list-clean;
  display: flex;
  flex-direction: column;

  @include breakpoint($bp-small) {
    flex-direction: row;
  }

  @media print {
    display: none;
  }
}

.tabs__item {
  margin-bottom: 0;

  &:first-child {
    .tabs__link {
      border-bottom-left-radius: $tab-border-radius;
      border-left: 0;
      border-top-left-radius: $tab-border-radius;
    }
  }
  &:last-child {
    .tabs__link {
      border-bottom-right-radius: $tab-border-radius;
      border-top-right-radius: $tab-border-radius;
    }
  }
}

.tabs__link {
  @include display-body-text-small;
  @include button-tabs;
}
