// @file
// Styles for Views Exposed Form.

.views-exposed-form,
form[id^="views-exposed-form-"] {
  align-items: center;
  display: flex;
  margin-bottom: 0;
  position: relative;

  .form-item {
    margin: 0;
    width: 100%;
  }

  .form-item--textfield {
    width: 100%;
  }

  .form-item__label {
    @include visually-hidden;
  }

  .form-item__text {
    height: 33px;
    margin: 0;
    padding: 0.5em 0.4375em;
    width: 100%;

    &:focus {
      outline: -webkit-focus-ring-color auto 5px;
    }

    &::placeholder {
      color: $grayscale-4;
      opacity: 1;
    }

    .l-header & {
      border-color: $blue;
    }

  }

  .form-actions {
    align-items: center;
    display: flex;
    margin: 0;
    padding: 0;
    position: relative;
  }

  input[type="submit"] {
    @include image-replace-alt(43px,33px);
    @include svg-background('search-white');
    background-color: $blue;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid $blue;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 3px;
    border-left: 1px none $white;
    border-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 3px;
    cursor: pointer;
    margin: 0;
    margin-left: -1px;

    &:hover {
      background-color: $blue-dark;
      border-bottom-color: $blue-dark;
      border-right-color: $blue-dark;
    }
  }

  .l-header & {
    display: none;

    @include breakpoint($bp-large) {
      display: flex;
      max-width: 225px;
    }
  }
}
